#metrics_name: 'coco_detection_metrics'
metrics_name: 'pascal_voc_detection_metrics'

score_thresh: 0.5

line_width: 3 

font_size: 18 

font_path: '/home/chaoji/Downloads/arial.ttf'

max_num_viz: 20

input_file: '/home/chaoji/_Data/detection/pascal/VOC2007_test.tfrecord'

load_ckpt_path: '/home/chaoji/Documents/frcnn_pascal/resnet_v1_101'

inference_directory: '/home/chaoji/Desktop/images'

image_file_extension: 'jpg'
