normalizer {
  type: RANGE
  low: -1.0
  high: 1.0
}

image_resizer {
  keep_aspect_ratio_resizer {
    min_dimension: 600
    max_dimension: 1024
  }
}

box_coder {
  faster_rcnn_box_coder {
    y_scale: 10.0
    x_scale: 10.0
    height_scale: 5.0
    width_scale: 5.0
  }
}


feature_extractor {
  type: 'faster_rcnn_inception_v2'

  batch_norm_params {
    decay: 0.9997,
    epsilon: 0.001,
    center: true,
    scale: true,
  }

  depth_multiplier: 1.0  
}

rpn_anchor_generator {
  grid_anchor_generator {
    scale_list: [0.25, 0.5, 1.0, 2.0]
    aspect_ratio_list: [0.5, 1.0, 2.0]
    height_stride: 16
    width_stride: 16
  }
}

rpn_box_predictor {
  convolutional_box_predictor {
    kernel_size: 1

    box_code_size: 4

    use_depthwise: false

    conv_hyperparams {
      type: CONV

      regularizer {
        l2_regularizer {
          weight: 0.0005
        }
      }

      initializer {
        truncated_normal_initializer {
          stddev: 0.01
        }
      }
      regularize_depthwise: true
      batch_norm_depthwise: true
      activate_depthwise: true
    }
  }
}

frcnn_box_predictor {
  rcnn_box_predictor{
    fc_hyperparams {
      type: FC

      regularizer {
        l2_regularizer {
          weight: 0.0005
        }
      }

      initializer {
        variance_scaling_initializer {
          factor: 1.0
          uniform: true
          mode: "FAN_AVG"
        }
      }
    }
    box_code_size: 4
  }
}

proposal_crop_size: 14

rpn_target_assigner {
  region_similarity_calculator {
    iou_similarity {
    }
  }

  matcher {
    argmax_matcher {
      matched_threshold: 0.7
      unmatched_threshold: 0.3
      negatives_lower_than_unmatched: true
      force_match_for_each_row: true
    }
  }

  negative_class_weight: 1.0
}

frcnn_target_assigner {
  region_similarity_calculator {
    iou_similarity {
    }
  }

  matcher {
    argmax_matcher {
      matched_threshold: 0.5
      negatives_lower_than_unmatched: true
      force_match_for_each_row: false
    }
  }

  negative_class_weight: 1.0
}

rpn_loss {
  classification_loss: {
    weighted_softmax {
    }
  }

  localization_loss: {
    weighted_smooth_l1 {
    }
  }

  classification_weight: 1.0

  localization_weight: 2.0
}

frcnn_loss {
  classification_loss: {
    weighted_softmax {
    }
  }

  localization_loss: {
    weighted_smooth_l1 {
    }
  }

  classification_weight: 1.0

  localization_weight: 2.0
}

rpn_post_processing {
  batch_non_max_suppression {
    score_threshold: 0.0
    iou_threshold: 0.7
    max_detections_per_class: 300
    max_total_detections: 300
  }
  score_converter: SOFTMAX
}

frcnn_post_processing {
  batch_non_max_suppression {
    score_threshold: 0
    iou_threshold: 0.5
    max_detections_per_class: 100
    max_total_detections: 300
  }
  score_converter: SOFTMAX
}

rpn_minibatch_positive_fraction: 0.5

frcnn_minibatch_positive_fraction: 0.25

proposal_crop_size: 14

rpn_minibatch_size: 256

frcnn_minibatch_size: 64

rpn_box_predictor_depth: 512

freeze_batch_norm: true
