#metrics_name: 'coco_mask_detection_metrics'
metrics_name: 'coco_box_detection_metrics'
#metrics_name: 'pascal_voc_detection_metrics'

score_thresh: 0.5

line_width: 2

font_size: 12

font_path: '/home/chaoji/Downloads/arial.ttf'

max_num_viz: 20

input_file: '/home/chaoji/_Data/detection/coco/val2017-00000-00005.tfrecord'
input_file: '/home/chaoji/_Data/detection/coco/val2017-00001-00005.tfrecord'
input_file: '/home/chaoji/_Data/detection/coco/val2017-00002-00005.tfrecord'
input_file: '/home/chaoji/_Data/detection/coco/val2017-00003-00005.tfrecord'
input_file: '/home/chaoji/_Data/detection/coco/val2017-00004-00005.tfrecord'
#input_file: '/home/chaoji/Dropbox/tensorflow/detection/data/train2017-00000-00100.tfrecord'

#input_file: '/home/chaoji/_Data/detection/coco/coco_val.record-00000-of-00010'
#input_file: '/home/chaoji/_Data/detection/coco/coco_val.record-00001-of-00010'
#input_file: '/home/chaoji/_Data/detection/coco/coco_val.record-00002-of-00010'
#input_file: '/home/chaoji/_Data/detection/coco/coco_val.record-00003-of-00010'
#input_file: '/home/chaoji/_Data/detection/coco/coco_val.record-00004-of-00010'
#input_file: '/home/chaoji/_Data/detection/coco/coco_val.record-00005-of-00010'
#input_file: '/home/chaoji/_Data/detection/coco/coco_val.record-00006-of-00010'
#input_file: '/home/chaoji/_Data/detection/coco/coco_val.record-00007-of-00010'
#input_file: '/home/chaoji/_Data/detection/coco/coco_val.record-00008-of-00010'
#input_file: '/home/chaoji/_Data/detection/coco/coco_val.record-00009-of-00010'

#load_ckpt_path: '/home/chaoji/Downloads/ckpt/mask_rcnn_resnet101_atrous_coco_2018_01_28/'
#load_ckpt_path: '/home/chaoji/Desktop/models-master/research/object_detection/exp/mask_rcnn/coco/resnet101_atrous/train'
load_ckpt_path: '/home/chaoji/Documents/msk_rcnn_coco/resnet101_atrous'

inference_directory: '/home/chaoji/Desktop/images/pets'

image_file_extension: 'jpg'
