

keys_to_features {
  key: "image/encoded"

  feature_parser {
    fixed_len_feature_parser {
      type: STRING
    }
  }
}

keys_to_features {
  key: "image/object/class/label"

  feature_parser {
    var_len_feature_parser {
      type: INT64
    }
  }
}

keys_to_features {
  key: "image/object/bbox/ymin"

  feature_parser {
    var_len_feature_parser {
      type: FLOAT32
    }
  }
}

keys_to_features {
  key: "image/object/bbox/xmin"

  feature_parser {
    var_len_feature_parser {
      type: FLOAT32
    }
  }
}

keys_to_features {
  key: "image/object/bbox/ymax"

  feature_parser {
    var_len_feature_parser {
      type: FLOAT32
    }
  }
}

keys_to_features {
  key: "image/object/bbox/xmax"

  feature_parser {
    var_len_feature_parser {
      type: FLOAT32
    }
  }
}
