label_map_item {
  index: 1
  label: 'Abyssinian'
}

label_map_item {
  index: 2
  label: 'american_bulldog'
}

label_map_item {
  index: 3
  label: 'american_pit_bull_terrier'
}

label_map_item {
  index:4
  label: 'basset_hound'
}

label_map_item {
  index: 5
  label: 'beagle'
}

label_map_item {
  index: 6
  label: 'Bengal'
}

label_map_item {
  index: 7
  label: 'Birman'
}

label_map_item {
  index: 8
  label: 'Bombay'
}

label_map_item {
  index: 9
  label: 'boxer'
}

label_map_item {
  index: 10
  label: 'British_Shorthair'
}

label_map_item {
  index: 11
  label: 'chihuahua'
}

label_map_item {
  index:12
  label: 'Egyptian_Mau'
}

label_map_item {
  index: 13
  label: 'english_cocker_spaniel'
}

label_map_item {
  index: 14
  label: 'english_setter'
}

label_map_item {
  index: 15
  label: 'german_shorthaired'
}

label_map_item {
  index: 16
  label: 'great_pyrenees'
}

label_map_item {
  index:17
  label: 'havanese'
}

label_map_item {
  index: 18
  label: 'japanese_chin'
}

label_map_item {
  index: 19
  label: 'keeshond'
}

label_map_item {
  index: 20
  label: 'leonberger'
}

label_map_item {
  index: 21
  label: 'Maine_Coon'
}

label_map_item {
  index: 22
  label: 'miniature_pinscher'
}

label_map_item {
  index: 23
  label: 'newfoundland'
}

label_map_item {
  index: 24
  label: 'Persian'
}

label_map_item {
  index: 25
  label: 'pomeranian'
}

label_map_item {
  index: 26
  label: 'pug'
}

label_map_item {
  index: 27
  label: 'Ragdoll'
}

label_map_item {
  index: 28
  label: 'Russian_Blue'
}

label_map_item {
  index: 29
  label: 'saint_bernard'
}

label_map_item {
  index: 30
  label: 'samoyed'
}

label_map_item {
  index: 31
  label: 'scottish_terrier'
}

label_map_item {
  index: 32
  label: 'shiba_inu'
}

label_map_item {
  index: 33
  label: 'Siamese'
}

label_map_item {
  index: 34
  label: 'Sphynx'
}

label_map_item {
  index: 35
  label: 'staffordshire_bull_terrier'
}

label_map_item {
  index: 36
  label: 'wheaten_terrier'
}

label_map_item {
  index: 37
  label: 'yorkshire_terrier'
}
