classification_loss {
  weighted_sigmoid {
  }
}

localization_loss {
  weighted_smooth_l1 {
  }
}

hard_example_miner {
  num_hard_examples: 3000
  iou_threshold: 0.99
  loss_type: CLASSIFICATION
  max_negatives_per_positive: 3
  min_negatives_per_image: 0
}

classification_weight: 1.0

localization_weight: 1.0
