
image_resizer {
  fixed_shape_resizer {
    height: 300
    width: 300
  }
}

normalizer {
  type: RANGE 
  low: -1.0
  high: 1.0
}

conv_hyperparams {
  type: CONV

  activation: RELU_6

  regularizer {
    l2_regularizer {
      weight: 0.00004
#      weight: 0.0005
    }
  }

  initializer {
    truncated_normal_initializer {
      stddev: 0.03
      mean: 0.0
    }
  }

  batch_norm {
    decay: 0.9997,
    epsilon: 0.001
    center: true,
    scale: true,
  }

  regularize_depthwise: true

  batch_norm_depthwise: true

  activate_depthwise: true
}

feature_extractor {
  type: 'ssd_inception_v2'

  depth_multiplier: 1.0

  use_depthwise: false
}

box_predictor {
  convolutional_box_predictor {
    kernel_size: 3

    box_code_size: 4

    use_depthwise: false
  }
}

anchor_generator {
  ssd_anchor_generator {
    num_layers: 6

    min_scale: 0.15 #0.2

    max_scale: 0.95

    aspect_ratios: 1.0
    aspect_ratios: 2.0
    aspect_ratios: 0.5
    aspect_ratios: 3.0
    aspect_ratios: 0.3333
    reduce_boxes_in_lowest_layer: true 
  }
}

target_assigner {
  region_similarity_calculator{
    iou_similarity {
    }
  }

  matcher {
    argmax_matcher {
      matched_threshold: 0.5
      unmatched_threshold: 0.5
      negatives_lower_than_unmatched: true
      force_match_for_each_row: true
    }
  }

  negative_class_weight: 1.0
}

box_coder {
  faster_rcnn_box_coder {
    y_scale: 10.0
    x_scale: 10.0
    height_scale: 5.0
    width_scale: 5.0
  }
}

loss {
  classification_loss {
#    weighted_sigmoid {
#    }
    weighted_softmax {
    }
  }

  localization_loss {
    weighted_smooth_l1 {
    }
  }

  hard_example_miner {
    num_hard_examples: 3000 
    iou_threshold: 0.99
    loss_type: CLASSIFICATION
    max_negatives_per_positive: 3
    min_negatives_per_image: 0
  }

  classification_weight: 1.0

  localization_weight: 1.0
}

post_processing {
  batch_non_max_suppression {
    score_threshold: 1e-8
    iou_threshold: 0.5
    max_detections_per_class: 100
    max_total_detections: 100
  }
#  score_converter: SIGMOID
  score_converter: SOFTMAX
}

freeze_batch_norm: false

add_background_class: true

