num_classes: 90 

label_map_item {
  index: 1
  label: 'person'
}

label_map_item {
  index: 2
  label: 'bicycle'
}

label_map_item {
  index: 3
  label: 'car'
}

label_map_item {
  index: 4
  label: 'motorcycle'
}

label_map_item {
  index: 5
  label: 'airplane'
}

label_map_item {
  index: 6
  label: 'bus'
}

label_map_item {
  index: 7
  label: 'train'
}

label_map_item {
  index: 8
  label: 'truck'
}

label_map_item {
  index: 9
  label: 'boat'
}

label_map_item {
  index: 10
  label: 'traffic light'
}

label_map_item {
  index: 11
  label: 'fire hydrant'
}

label_map_item {
  index: 13
  label: 'stop sign'
}

label_map_item {
  index: 14
  label: 'parking meter'
}

label_map_item {
  index: 15
  label: 'bench'
}

label_map_item {
  index: 16
  label: 'bird'
}

label_map_item {
  index: 17
  label: 'cat'
}

label_map_item {
  index: 18
  label: 'dog'
}

label_map_item {
  index: 19
  label: 'horse'
}

label_map_item {
  index: 20
  label: 'sheep'
}

label_map_item {
  index: 21
  label: 'cow'
}

label_map_item {
  index: 22
  label: 'elephant'
}

label_map_item {
  index: 23
  label: 'bear'
}

label_map_item {
  index: 24
  label: 'zebra'
}

label_map_item {
  index: 25
  label: 'giraffe'
}

label_map_item {
  index: 27
  label: 'backpack'
}

label_map_item {
  index: 28
  label: 'umbrella'
}

label_map_item {
  index: 31
  label: 'handbag'
}

label_map_item {
  index: 32
  label: 'tie'
}

label_map_item {
  index: 33
  label: 'suitcase'
}

label_map_item {
  index: 34
  label: 'frisbee'
}

label_map_item {
  index: 35
  label: 'skis'
}

label_map_item {
  index: 36
  label: 'snowboard'
}

label_map_item {
  index: 37
  label: 'sports ball'
}

label_map_item {
  index: 38
  label: 'kite'
}

label_map_item {
  index: 39
  label: 'baseball bat'
}

label_map_item {
  index: 40
  label: 'baseball glove'
}

label_map_item {
  index: 41
  label: 'skateboard'
}

label_map_item {
  index: 42
  label: 'surfboard'
}

label_map_item {
  index: 43
  label: 'tennis racket'
}

label_map_item {
  index: 44
  label: 'bottle'
}

label_map_item {
  index: 46
  label: 'wine glass'
}

label_map_item {
  index: 47
  label: 'cup'
}

label_map_item {
  index: 48
  label: 'fork'
}

label_map_item {
  index: 49
  label: 'knife'
}

label_map_item {
  index: 50
  label: 'spoon'
}

label_map_item {
  index: 51
  label: 'bowl'
}

label_map_item {
  index: 52
  label: 'banana'
}

label_map_item {
  index: 53
  label: 'apple'
}

label_map_item {
  index: 54
  label: 'sandwich'
}

label_map_item {
  index: 55
  label: 'orange'
}

label_map_item {
  index: 56
  label: 'broccoli'
}

label_map_item {
  index: 57
  label: 'carrot'
}

label_map_item {
  index: 58
  label: 'hot dog'
}

label_map_item {
  index: 59
  label: 'pizza'
}

label_map_item {
  index: 60
  label: 'donut'
}

label_map_item {
  index: 61
  label: 'cake'
}

label_map_item {
  index: 62
  label: 'chair'
}

label_map_item {
  index: 63
  label: 'couch'
}

label_map_item {
  index: 64
  label: 'potted plant'
}

label_map_item {
  index: 65
  label: 'bed'
}

label_map_item {
  index: 67
  label: 'dining table'
}

label_map_item {
  index: 70
  label: 'toilet'
}

label_map_item {
  index: 72
  label: 'tv'
}

label_map_item {
  index: 73
  label: 'laptop'
}

label_map_item {
  index: 74
  label: 'mouse'
}

label_map_item {
  index: 75
  label: 'remote'
}

label_map_item {
  index: 76
  label: 'keyboard'
}

label_map_item {
  index: 77
  label: 'cell phone'
}

label_map_item {
  index: 78
  label: 'microwave'
}

label_map_item {
  index: 79
  label: 'oven'
}

label_map_item {
  index: 80
  label: 'toaster'
}

label_map_item {
  index: 81
  label: 'sink'
}

label_map_item {
  index: 82
  label: 'refrigerator'
}

label_map_item {
  index: 84
  label: 'book'
}

label_map_item {
  index: 85
  label: 'clock'
}

label_map_item {
  index: 86
  label: 'vase'
}

label_map_item {
  index: 87
  label: 'scissors'
}

label_map_item {
  index: 88
  label: 'teddy bear'
}

label_map_item {
  index: 89
  label: 'hair drier'
}

label_map_item {
  index: 90
  label: 'toothbrush'
}

