num_classes: 20

label_map_item {
  index: 1
  label: 'aeroplane'
}

label_map_item {
  index: 2
  label: 'bicycle'
}

label_map_item {
  index: 3
  label: 'bird'
}

label_map_item {
  index:4
  label: 'boat'
}

label_map_item {
  index: 5
  label: 'bottle'
}

label_map_item {
  index: 6
  label: 'bus'
}

label_map_item {
  index: 7
  label: 'car'
}

label_map_item {
  index: 8
  label: 'cat'
}

label_map_item {
  index: 9
  label: 'chair'
}

label_map_item {
  index: 10
  label: 'cow'
}

label_map_item {
  index: 11
  label: 'diningtable'
}

label_map_item {
  index:12
  label: 'dog'
}

label_map_item {
  index: 13
  label: 'horse'
}

label_map_item {
  index: 14
  label: 'motorbike'
}

label_map_item {
  index: 15
  label: 'person'
}

label_map_item {
  index: 16
  label: 'pottedplant'
}

label_map_item {
  index:17
  label: 'sheep'
}

label_map_item {
  index: 18
  label: 'sofa'
}

label_map_item {
  index: 19
  label: 'train'
}

label_map_item {
  index: 20
  label: 'tvmonitor'
}

